@import "partials/variables";
@import "partials/mixins";

@include google-font(Lato);

*{
	padding: 0px;
	margin: 0px;
}


html{
	height: 100%;
}

body{
	background-color: $body;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}


.box{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;	
	flex-wrap: wrap;
}

.hidden{
	display: none;
}


.sub-box{
	height: 25%;
	width: 43%;
	background-color: $boxcolor;;
	transform: scale(1);
	transition: all 2s;

	&:focus{
		background-color: $selected;
		transform: scale(1.1);
	}


}

.second{
	height: 80%;
	width: 100%;

	.box{
		.sub-box{
			height: 25%;
			width: 43%;

			.dentro{
				i{
					font-size: 750%;
				}

			}
		}
	}


}







.dentro{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;	
	flex-wrap: wrap;
	

	i{
		font-size: 900%;
	}

	h1{
		font-size: 350%;
		text-align: center;
		font-family: 'Lato';
	}

}


.title{
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: $selected;
	animation: mover 2s;
	padding: 2%;
	margin-bottom: 20px;

	
	h1{
		font: {
			size:60px;
			font-family: Lato;
		}
	}

	@keyframes mover {
		0%{
			transform: translateX(-2000px);
		}
		100%{
			transform: translateX(0px);
		}
	}
}

.salir{
	background-color: $salir;
}




// ::placeholder{
// 	font-family: 'Lato', sans-serif;
// 	color: black;
// 	font-weight: bold;
// }