


// COLORS


$body: rgba(107, 107, 107, 0.33);
$box: white;
$uno: #C8963E;
$dos: #FD7D6B;
$selected: rgba(207, 71, 115, 0.59);
$salir: #dc3838;

$l: calc(100vw/3);


$red: #a71a3d;
$black: #494d5a;
$green: #229463;
$purple: #673ab7;
$brown: #795548;
$sky: #009688;
$pink: #e08283;
$grey: #9e9e9e;
$blue: #5f71d2;

$salir: #232323;
$atras: #925a6d;


